<template>
    <tr @click="changeShow">
            <td class="col-2">{{ordem.nome_cliente}}</td>
            <td class="col-2" :class="ordem.estado === 'Pago' ? 'table-success' : (ordem.estado === 'Agendado' ? 'table-warning' : (ordem.estado === 'Aberto' ? 'table-primary' : ''))">{{ordem.estado}}</td>
            <td class="col-2">{{ordem.created_at}}</td>
            <td class="col-2">{{ordem.data_atendimento}}</td>
            <td class="col-1">R$ {{ordem.valor}}</td>
            <td class="col-2">{{ordem.servico}}</td>
        </tr>
</template>

<script>
export default {
    props: ['ordem'],
    data() {
        return {
        }
    },
    methods: {
        changeShow() {
            Event.$emit('changeShow', this.$props.ordem.id);
        }
    },
    mounted() {
        this.ordem.created_at = this.ordem.created_at.replace(/(\d{4})-(\d{2})-(\d{2})[A-Z](\d*\W*)*[A-Z]/, '$3/$2/$1')
    }
}
</script>