<template>
    <tr v-show="show">
        <td colspan="12">
            <form action="/ordem/update">
                <div class="row">
                    <div class="col-6">
                        <label for="nome">Cliente Emissor</label>
                        <input class="form-control" v-model="data.nome_cliente" type="text" name="nome_cliente" id="nome_cliente" placeholder="Nome completo do Cliente Emissor" required>
                    </div>
                    <div class="col-6">
                        <label for="cpf">Serviço</label>
                        <input class="form-control" v-model="data.servico" type="text" name="servico" id="servico" placeholder="Serviço Prestado">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="endereco">Data Atendimento</label>
                        <input class="form-control" v-model="data.data_atendimento" type="text" name="data_atendimento" id="data_atendimento" placeholder="Data de Atendimento">
                    </div>
                    <div class="col-6 pb-3">
                        <label for="valor">Valor</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text" for="valor">R$</span>
                        </div>
                        <input class="form-control" :class="{'is-invalid': isInvalid}" @keyup="maskValor()" v-model="data.valor" type="text" name="valor" id="valor" placeholder="Valor">
                        <!-- <div class="invalid-feedback" for="valor">{{error}}</div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="endereco">Endereço</label>
                        <input class="form-control" v-model="data.endereco" type="text" name="endereco" id="endereco" placeholder="Endereco">
                    </div>
                    <div class="col-3">
                        <label for="estado">Estado</label>
                        <select name="estado" id="estado" class="form-control" v-model="data.estado">
                            <option value="Aberto" selected="data.estado == 'Aberto'" default>Aberto</option>
                            <option value="Agendado" selected="data.estado == 'Agendado'">Agendado</option>
                            <option value="Pago" selected="data.estado == 'Pago'">Pago</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <input class="form-control" v-model="data.descricao" type="text" name="descricao" id="descricao" placeholder="Descrição">
                </div>
                <div class="form-group">
                    <label for="observacao">Observações</label>
                    <input class="form-control" v-model="data.observacao" type="text" name="observacao" id="observacao" placeholder="Observações">
                </div>
                <button @click.prevent="submit" class="btn btn-success">Salvar</button>
                <button @click.prevent="deletar" class="btn btn-danger">Excluir OS</button>
            </form>
        </td>
    </tr>
</template>

<script>
export default {
    data() {
        return {
            show: false,
            data: {...this.ordem},
            error: null,
            isInvalid: false
        }
    },
    props: ['ordem'],
    created() {
        Event.$on('changeShow', (id) => {
            if (id == this.$props.ordem.id) {
                this.show = !this.show
            } else {
                this.show = false;
            }
        })
    },
    methods: {
        submit() {
            fetch("/api/ordem/update", {
                method: "POST",
                body: JSON.stringify(this.data),
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                }
            })
            .then(response => {
                if(response.ok) {
                    return response.json()
                } else {
                    let message = {class: 'error', text: 'Opa! Algo deu errado! Verifique os campos preenchidos no formulário e tente novamente.'};
                    Event.$emit('flash-message', message);
                    throw new Error('Algo de certo não está errado');
                }
            })
            .then(json => {
                Event.$emit('osUpdated', json.ordem),
                Event.$emit('flash-message', json.message)
            })
            .catch(function(error){
                console.log(error)
            })
        },
        deletar() {
            fetch("/api/ordem/destroy", {
                method: "DELETE",
                body: JSON.stringify(this.data.id)
            })
            .then(response => response.json())
            .then(json => {
                Event.$emit('deleted', json.clienteDeletado)
                Event.$emit('flash-message', json.message)
            })
        },
        maskValor() {
            if (this.data.valor !== null) {
                let pattern = /^(\d*(\.|,)(?!\.|,)\d*)*$/g
                if (this.data.valor.match(pattern)) {
                    this.error = ''
                    this.isInvalid = false
                } else {
                    this.error = 'Erro'
                    this.isInvalid = true  
                }
            }
        }
    }
}
</script>