<template>
    <div class="container">
        <div>
            <novaOrdem></novaOrdem>
        </div>
        <div class="card" v-if="ordens.length > 0">
            <div>
                <table class="table table-hover table-bordered" v-if="ordens.length > 0">
                <thead class="table-dark">
                    <tr class="d-flex-lg">
                        <th class="col-2">Cliente Emissor</th>
                        <th class="col-2">Estado</th>
                        <th class="col-2">Data Emissão</th>
                        <th class="col-2">Data Atendimento</th>
                        <th class="col-1">Valor</th>
                        <th class="col-2">Serviço</th>
                    </tr>
                </thead>
                <tbody>
                    <div v-for="ordem in ordens" :key="ordem.id" style="display: contents">
                        <itemOrdem :ordem="ordem"></itemOrdem>
                        <itemEdit class="animation-dropdown" :ordem="ordem"></itemEdit>
                    </div>
                </tbody>
                </table>
            </div>
        </div>
        <h1 v-if="ordens.length == 0">Não há ordens cadastradas</h1>
    </div>
</template>

<script>
import itemEdit from './ItemEdit.vue'
import itemOrdem from './ItemOrdem.vue'
import novaOrdem from './NovaOrdem.vue'

export default {
    components: {
        itemEdit,
        itemOrdem,
        novaOrdem
    },
    data() {
        return {
            ordens: []
        }
    },
    mounted() {
        fetch('/api/ordens')
        .then(response => response.json())
        .then(json => this.ordens = json)

        Event.$on('novaOS', json => {
            delete json.isNew
            console.log(json)
            this.ordens.unshift(json)
        })

        Event.$on('osUpdated', (json) => {
            for (let i = 0; i < this.ordens.length; i++) {
                if (json.id === this.ordens[i].id) {
                    this.ordens.splice([i], 1, json)
                }
            }
        })

        Event.$on('deleted', (json) => {
            console.log(json)
            for (let i = 0; i < this.ordens.length; i++) {
                console.log(i)
                if (json === this.ordens[i].id) {
                    console.log('inside')
                    this.ordens.splice([i], 1)
                    console.log('deleted')
                }
            }
        })
    }
}
</script>