<template>
    <div class="container-novaOS">
        <button @click="showNewForm" class="button-novaOS btn btn-primary">Nova OS</button>
        <a href="/googleAuth" class="button-novaOS btn btn-primary">Grant Agenda Perms</a>
            <div class="card" v-if="newForm">
                <form action="/ordem" method="POST" class="row g-3">
                <div class="col-md-6">
                    <label for="nome">Cliente Emissor</label>
                    <input @keydown="encontrarCliente" class="form-control" type="text" name="nome_cliente" id="nome_cliente" placeholder="Nome completo do Cliente Emissor" v-model="newOS.nome_cliente" autocomplete="off" required>
                    <suggestions v-if="suggestionsList" v-bind:suggestions="suggestionsList"></suggestions>
                </div>
                <div class="col-md-6">
                    <label for="cpf">Serviço</label>
                    <input class="form-control" type="text" name="servico" id="servico" placeholder="Serviço Prestado" v-model="newOS.servico">
                </div>
                <div class="col-md-6">
                    <label for="endereco">Data Atendimento</label>
                    <input @keyup="maskData" class="form-control" type="text" name="data_atendimento" id="data_atendimento" placeholder="Data de Atendimento" v-model="newOS.data_atendimento">
                    <label for="endereco">Hora do Atendimento</label>
                    <input class="form-control" type="text" name="hora_atendimento" placeholder="Horário do Atendimento">
                </div>
                <div class="col-md-6">
                    <label for="email">Valor</label>
                    <input class="form-control" type="text" name="valor" id="valor" placeholder="Valor" v-model="newOS.valor">
                </div>
                <div class="col-md-6">
                    <label for="endereco">Endereço</label>
                    <input class="form-control" type="text" name="endereco" id="endereco" placeholder="Endereco" v-model="newOS.endereco">
                </div>
                <div class="col-md-6">
                    <label for="estado">Estado</label>
                    <select name="estado" class="form-control" id="estado" v-model="newOS.estado">
                        <option value="Aberto" default>Aberto</option>
                        <option value="Agendado">Agendado</option>
                        <option value="Pago">Pago</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="descricao">Descrição</label>
                    <input class="form-control" type="text" name="descricao" id="descricao" placeholder="Descrição" v-model="newOS.descricao">
                </div>
                <div class="col-md-6">
                    <label for="observacao">Observações</label>
                    <input class="form-control" type="text" name="observacao" id="observacao" placeholder="Observações" v-model="newOS.observacao">
                </div>
                <div class="col-md-1">
                    <button @click.prevent="sendNewOrder" class="btn btn-success" type="submit">Salvar</button>
                </div>
                </form>
            </div>
        </div>
</template>

<script>
import suggestions from "./Suggestions";
import modal from "../Modal";
export default {
    components: {
        suggestions,
        modal
    },
    data() {
        return {
            suggestionsList: null,
            newForm: false,
            newOS: {
                nome_cliente: null,
                servico: null,
                data_atendimento: null,
                valor: null,
                endereco: null,
                estado: "Aberto",
                descricao: null,
                observacao: null
            },
            buffer: 0
        }
    },
    mounted() {
        Event.$on('selecionado', suggestion => {
            this.newOS.nome_cliente = suggestion.nome
            this.newOS.endereco = suggestion.endereco
            this.suggestionsList = null
        })
    },
    methods: {
        encontrarCliente() {
            this.buffer++
            if (this.buffer === 4) {
                fetch("/api/cliente/search", {
                    method: "POST",
                    body: JSON.stringify(this.newOS.nome_cliente),
                    headers: {
                        "Content-Type": "application/x-www-form-urlenconded"
                    }
                }).then(response => {
                    if (response.ok) {
                        return response.json()
                    } else {
                        let message = {class: 'error', text: 'Opa! Algo deu errado! Verifique os campos preenchidos no formulário e tente novamente.'};
                        Event.$emit('flash-message', message);
                        throw new Error('Algo de certo não está errado');
                    }
                }).then(json => {
                    this.suggestionsList = json
                })
                this.buffer = 0
            }
        },
        showNewForm() {
            this.newForm = !this.newForm
        },
        sendNewOrder() {
            
            if (!this.suggestionsList.includes(this.newOS.nome_cliente) ) {
                console.log('Showing modal')
                Event.$emit('showModal', 'Text')
            }

            fetch("/api/ordem/create", {
                method: "POST",
                body: JSON.stringify(this.newOS),
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                }
            }).then(response => {
                if (response.ok) {
                    return response.json()
                } else {
                    let message = {class: 'error', text: 'Opa! Algo deu errado! Verifique os campos preenchidos no formulário e tente novamente.'};
                    Event.$emit('flash-message', message);
                    throw new Error('Algo de certo não está errado');
                }
            }).then(json => {
                Event.$emit('novaOS', json.novaOrdem);
                Event.$emit('flash-message', json.message);
            })
        },
        maskData() {
            console.log(`calling it`)
            this.newOS.data_atendimento = this.newOS.data_atendimento.replace(/(\d{2})(\d{2})(\d{4})/, `$1/$2/$3`)
        }
    }
}
</script>