<template>
    <div class="autocomplete">
        <ul v-show="suggestions" class="autocomplete-list">
            <li v-for="suggestion in suggestions" :key="suggestion.id" class="autocomplete-result" @click="selecionar(suggestion)">
                {{suggestion.nome}}
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: ['suggestions'],
    data() {
        return {
        }
    },
    methods: {
        selecionar(suggestion) {
            Event.$emit('selecionado', suggestion)
        }
    }
}
</script>