html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:white !important;
}

#app {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.card {
    background-color: white;
    box-shadow: 2px 0.5px 7px #80808075;
}

.margin-left {
    margin-left: 10px;
}

.table {
    margin: 0px;
}

.button-novaOS {
    margin: 10px 10px 10px 0px;
}

.table-hover thead tr:hover {
    background-color: #343A40; /* Assuming you want the hover color to be white */
}

.menu {
    height: 100%;
    background-color: #000000;
    min-width: 280px;
    max-width: 500px;
}

.menu-icon {
    height: 15px;
}

.menu-icon-div {
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.menu-header {
    display: flex;
    box-shadow: 0 0 4px;
    background-color: #1A1A1A;
    height: 60px;
}

.menu-logo {
    align-self: center;
    color: white;
    font-size: x-large;
}

.menu-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.menu-buttons :hover {
    background-color: rgba(128, 128, 128, 0.400);
}

.button {
    min-height: 50px;
    padding-top: 15px;
    padding-left: 30px;
    text-decoration: none !important;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color: white
}

#py-4 {
    display: flex;
    flex: 1;
    padding: 0px !important;
}

.main-menu {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background-color: gainsboro;
}

.main-content-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-item {
    width: 100%;
    padding-left: 10px;
    text-decoration: none;
    font-size: large;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.navbar-custom {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    box-shadow: 2px 0.5px 7px #80808075;
    width: 100%;
    height: 60px;
    justify-content: space-between;
}

.navbar-search-input{
    border: 0px;
}

.navbar-search-div {
    padding: 16px 10px 10px 10px;
    height: 100%;
}

.user-menu-name {
    margin-top: 16px;
    margin-right: 10px;
}

.user-menu {
    margin-right: 25px;
    display: flex;
    align-self: flex-end;
    height: 100%;
    align-items: center;
}

.autocomplete {
    position: relative
}

.autocomplete-list {
    background-color: white;
    list-style: none;
    padding: 0px;
    border: solid 1px #ced4da;
    position: absolute;
    z-index: 100;
    width: 100%;
}

.autocomplete-result {
    font-size: medium;
    padding-left: 10px;
}

.autocomplete-result:hover{
    background-color: #d9d9d9;
}

#main-content {
    display: flex;
    flex: 2;
}

.home-view {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-card {
    align-content: center;
    border-radius: 5px;
    margin: 10px;
    display: flex;
}

.home-card-header {
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
    color: white;
    background: black;
}

.home-card-content {
    align-self: center;
    font-size: 30px;
}

.home-card-content-ordens {
    align-self: center;
    display: flex;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.3);
}
   
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    width: 100%;
    max-width: 400px;
    background-color: #FFF;
    border-radius: 16px;

    padding: 25px;
}

.fade-enter-active,
.fade-leave-active {
 transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
 opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
 transition: transform .5s;
}

.slide-enter,
.slide-leave-to {
 transform: translateY(-50%) translateX(100vw);
}