<template>
    <div v-if="message" class="alert alert-success" role="alert">
        <div>
            {{ message.text }}
        </div>
        <button @click="hide" class="btn btn-close" data-bs-dismiss="alert">X</button>
    </div>
</template>

<script>
export default {
    data() {
        return {
            message: null
        }
    },
    mounted() {
        Event.$on('flash-message', (message) => {
            this.message = message;
        })
    },
    methods: {
        hide() {
            this.message = null
        }
    }
}
</script>

<style scoped>
.alert {
    display: flex;
    width: auto; 
    height: auto;
    left: 50%;
    z-index: 1;
    position: absolute; 
}
.btn-close {
    margin-left: 30px;
    padding: 0px;
}
</style>