<template>
    <div class="home-view">
        <div class="card home-card">
            <div class="home-card-header">
                Clientes
            </div>
            <div class="home-card-content">
                {{clientes}}
            </div>
        </div>
        <div class="card home-card">
            <div class="home-card-header">
            Ordens
            </div>
            <div class="home-card-content">
                {{ordens.length}} no total
            </div>
            <div class="home-card-content-ordens" style="color: blue">
                {{ordensAbertas.length}} abertas
            </div>
            <div class="home-card-content-ordens" style="color: rgb(145, 145, 0)">
                {{ordensAgendadas.length}} agendadas
            </div>
            <div class="home-card-content-ordens" style="color: green">
                {{ordensPagas.length}} pagas
            </div>
        </div>
        <div class="card home-card">
            <div class="home-card-header">
            Financeiro
            </div>
            <div class="home-card-content">
                {{clientes}}
            </div>
        </div>
        <div class="card home-card">
            <div class="home-card-header">
            Bônus
            </div>
            <div class="home-card-content">
                {{clientes}}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            clientes: null,
            ordens: [],
            ordensAbertas: [],
            ordensPagas: [],
            ordensAgendadas: [],
            financeiro: null
        }
    },
    methods: {

    },
    created() {
        fetch('/api/home')
        .then(response => {
            if (response.ok) {
                return response.json()
            } else {
                let message = {class: 'erro', text: 'Opa, algo deu errado ao receber os dados do seu menu inicial! Mensagem de erro: ' + response.statusText}
                Event.$emit('flash-message', message)
            }
        })
        .then(json => {
            console.log(json)
            this.clientes = json.clientes
            this.ordens = json.ordens
            this.ordensAbertas = json.ordensAbertas
            this.ordensPagas = json.ordensPagas
            this.ordensAgendadas = json.ordensAgendadas
        })
    }
}
</script>