<template>
    <tr @click="changeShow">
        <td :class="ordem.estado === 'Pago' ? 'table-success' : (ordem.estado === 'Agendado' ? 'table-warning' : (ordem.estado === 'Aberto' ? 'table-primary' : ''))">{{ordem.estado}}</td>
        <td class="col-2">{{ordem.created_at}}</td>
        <td class="col-2">{{ordem.data_atendimento}}</td>
        <td class="col-2">{{ordem.valor}}</td>
        <td class="col-2">{{ordem.servico}}</td>
    </tr>
</template>

<script>
export default {
    props: ['ordem'],
    methods: {
        changeShow() {
            Event.$emit('changeShow', this.$props.ordem.id)
        }
    }
}
</script>