<template>
    <tr v-show="isShown">
        <td colspan="12">
            <form action="/cliente/update">
                <div class="row">
                    <div class="col-6">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Nome Completo" v-model="data.nome" required>
                    </div>
                    <div class="col-6">
                        <label for="cpf">CPF</label>
                        <input class="form-control" type="text" name="cpf" id="cpf" placeholder="CPF" v-model="data.cpf" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="endereco">Endereço</label>
                        <input class="form-control" type="text" name="endereco" id="endereco" placeholder="Endereço" v-model="data.endereco" >
                    </div>
                    <div class="col-6">
                        <label for="email">Endereço de e-mail</label>
                        <input class="form-control" type="text" name="email" id="email" placeholder="E-mail" v-model="data.email" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="telefone">Número p/ Contato</label>
                        <input class="form-control" type="text" name="telefone" id="telefone" placeholder="Número p/ contato" v-model="data.numero" >
                    </div>
                </div>
                <button @click.prevent="sendData" class="btn btn-success" type="submit">Salvar</button>
                <button @click.prevent="deletar" class="btn btn-danger" type="submit">Excluir</button>
            </form>
                <div v-show="cliente.ordens.length > 0">
                <h5>OS's deste cliente:</h5>
                    <table>
                    <thead>
                        <th class="col-2">Estado</th>
                        <th class="col-2">Data Emissão</th>
                        <th class="col-2">Data Atendimento</th>
                        <th class="col-1">Valor</th>
                        <th class="col-2">Serviço</th>
                    </thead>
                    <tbody>
                        <div v-for="ordem in cliente.ordens" :key="ordem.id" style="display: contents">
                            <clienteOrdem :ordem="ordem"></clienteOrdem>
                            <itemEdit :ordem="ordem"></itemEdit>
                        </div>
                    </tbody>
                    </table>
                </div>
        </td>
    </tr>
</template>

<script>
import clienteOrdem from './ClienteOrdem'
import itemEdit from '../ordens/ItemEdit'
export default {
    props: ['cliente'],
    components: {
        clienteOrdem,
        itemEdit
    },
    data() {
        return {
            isShown: false,
            data: {...this.cliente},
        }
    },
    created() {
        Event.$on('showClienteEdit', (id) => {
            console.log('receiving', id)
            if (id == this.cliente.id) {
                this.isShown = !this.isShown
            } else {
                this.isShown = false
            }
        })
    },
    methods: {
        sendData() {
            fetch("/api/cliente/update", {
                method: "POST",
                body: JSON.stringify(this.data),
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                }
            })
            .then(response => {
                if(response.ok) {
                    return response.json()
                } else {
                    let message = {class: 'error', text: 'Opa! Algo deu errado! Verifique os campos preenchidos no formulário e tente novamente.'};
                    Event.$emit('flash-message', message);
                    throw new Error('Algo de certo não está errado');
                }
            })
            .then(json => {
                Event.$emit('clienteAtualizado', json.cliente),
                Event.$emit('flash-message', json.message)
            })
            .catch(function(error){
                console.log(error)
            })
        },
        deletar() {
            fetch("/api/cliente/destroy", {
                method: "DELETE",
                body: JSON.stringify(this.cliente.id)
            })
            .then(response => response.json())
            .then(json => {
                Event.$emit('flash-message', json.message)
                Event.$emit('clienteDeletado', json.clienteDeletado)
            })
        }
    }
} 
</script>