<template>
    <tr @click="showClienteEdit">
        <td class="col-2">{{cliente.nome}}</td>
        <td class="col-2">{{cliente.cpf}}</td>
        <td class="col-2">{{cliente.endereco}}</td>
        <td class="col-2">{{cliente.email}}</td>
        <td class="col-2">{{cliente.telefone}}</td>
    </tr>
</template>

<script>
export default {
    props: ['cliente'],
    methods: {
        showClienteEdit() {
            Event.$emit('showClienteEdit', this.cliente.id)
        }
    }
}
</script>