<template>
    <div class="container">
        <a href="" class="btn btn-primary"> Cadastrar Novo </a>
        <div class="card">
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Endereço</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    <div v-for="cliente in clientes" :key="cliente.id" style="display: contents">
                        <itemCliente :cliente=cliente></itemCliente>
                        <clienteEdit :cliente=cliente></clienteEdit>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import itemCliente from './ItemCliente'
import clienteEdit from './ClienteEdit'
export default {
    data() {
        return {
            clientes: null
        }
    },
    components: {
        itemCliente,
        clienteEdit
    },
    mounted() {
        fetch('/api/clientes')
        .then(response => response.json())
        .then(json => {
            this.clientes = json
        })

        Event.$on('clienteAtualizado', cliente => {
            for (let i = 0; i < this.clientes.length; i++) {
                if (cliente.id == this.clientes[i].id) {
                    this.clientes.splice(i, 1, cliente)
                }
                
            }
        })

        Event.$on('clienteDeletado', clienteId => {
            for (let i = 0; i < this.clientes.length; i++) {
                if (clienteId == this.clientes[i].id) {
                    this.clientes.splice([i], 1)
                }
            }
        })
    }
}
</script>